---
import Layout from '../../layouts/Layout.astro';
import ContactInfo from '../../components/contact/ContactInfo.astro';
import Form from '../../components/contact/Form.astro';
import SectionTitle from '../../components/SectionTitle.astro';
import Schedule from '../../components/contact/Schedule.astro';
import SocialNetwork from '../../components/contact/SocialNetwork.astro';
import LocationCard from '../../components/contact/LocationCard.astro';
---

<Layout
	title='Contacto'
	description='¿Tienes alguna duda o comentario? ¡Contáctanos!'>
	<div class='px-4 py-4 md:py-12'>
		<div class='flex flex-col items-center'>
			<SectionTitle tag='h1' class='mb-8 text-center'>
				Contacta con Nosotros
			</SectionTitle>
			<p class='text-gray-600 max-w-3xl mx-auto text-center mb-2'>
				Estamos aquí para ayudarte. Completa el formulario a
				continuación o utiliza nuestras otras vías de contacto para
				comunicarte con el equipo de FluentReads.
			</p>
		</div>

		<div class='grid grid-cols-1 lg:grid-cols-2 gap-2'>
			<div class='flex flex-col gap-8 my-4 md:my-8 lg:mx-6 justify-between'>
				<!--Location Section -->
				<LocationCard />

				<!-- Schedule section -->
				<Schedule />

				<!-- Social Network section -->
				<SocialNetwork
					facebookUrl='https://facebook.com/fluentreads'
					instagramUrl='https://instagram.com/fluentreads'
					tiktokUrl='https://tiktok.com/@fluentreads'
				/>
			</div>
			<!-- Contact form section -->
			<Form />
		</div>

		<!-- Contact information section -->
		<ContactInfo />
	</div>
</Layout>
