---
interface Props {
	ariaLabelPrev: string;
	ariaLabelNext: string;
	className?: string;
}

const {
	ariaLabelPrev = 'Anterior',
	ariaLabelNext = 'Siguiente',
	className = '',
} = Astro.props;
---

<div class={`carousel-controls ${className}`}>
	<button
		type='button'
		class='carousel-control prev absolute left-4 top-1/2 transform -translate-y-1/2 z-10'
		aria-label={ariaLabelPrev}>
		<svg
			xmlns='http://www.w3.org/2000/svg'
			class='h-6 w-6 text-primary'
			fill='none'
			viewBox='0 0 24 24'
			stroke='currentColor'>
			<path
				stroke-linecap='round'
				stroke-linejoin='round'
				stroke-width='2'
				d='M15 19l-7-7 7-7'></path>
		</svg>
	</button>

	<button
		type='button'
		class='carousel-control next absolute right-4 top-1/2 transform -translate-y-1/2 z-10'
		aria-label={ariaLabelNext}>
		<svg
			xmlns='http://www.w3.org/2000/svg'
			class='h-6 w-6 text-primary'
			fill='none'
			viewBox='0 0 24 24'
			stroke='currentColor'>
			<path
				stroke-linecap='round'
				stroke-linejoin='round'
				stroke-width='2'
				d='M9 5l7 7-7 7'></path>
		</svg>
	</button>
</div>
